.about-header {
  background-image: linear-gradient(
      rgba(19, 31, 23, 0.65),
      rgba(19, 31, 23, 0.65)
    ),
    url("images/background/about-header.avif"); /* adjust path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}